:root{
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
    height: 100svh;
    background-image: url(../images/2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}
.overlay{
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0.8;
    z-index: -1;
}

h1{
    margin: 0;
}

#hadith{
    max-width: 50%;
    text-align: center;
}

.list{
    position: fixed; 
    right: -300px;    
    top: 0;
    width: 200px;
    height: 100vh;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 3px;
    transition: 0.3s;
    z-index: 1000;
    transition: all ease-int 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px blue;
    background: lightseagreen;
}

.list > h2{
    position: absolute;
    top: 10px;
}

ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px;
}

.list.active{
    right: 0;
}

.list-item{
    cursor: pointer;
    border-radius: 3px;
}
.list-item:hover{
    color: darkblue;
}
.list-item:hover::after{
    content: "»";
    position: absolute;
    left: 5px;
}

.test-window{
    position: absolute;
    display: none;
    width: 600px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: wheat;
    color: black;
}
.test-window.active{
    display: block;
    
}
.close-test{
    cursor: pointer;
}






