body {
    font-family: "Amiri", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
    height: 100vh;
    background: url(../images/mosque.webp) no-repeat scroll center top transparent;
    background-size: auto 100%;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    line-height: 1.6;
}

body>* {
    z-index: 1;
}

main {
    display: flex !important;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100svh;
    height: 100vh;
    pointer-events: none;
    mix-blend-mode: multiply;
}

.title {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 1.7rem;
    margin: 0;
}

.hadith-container {
    margin-top: 50px;
    height: 350px;
    min-height: 200px;
    padding-left: 5px;
    overflow-y: scroll;
    border-radius: 10px;
    background-color: #00000070;
    box-shadow: 0px 10px 50px 20px rgba(0, 0, 0, 0.6);
}

#hadith {
    max-width: 500px;
    min-width: 300px;
    text-align: center;
}

.list {
    --list-width: 220px;
    position: fixed;
    right: -300px;
    top: 0;
    width: var(--list-width);
    height: 100vh;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    transition: 0.1s linear;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px blue;
    background: #00549d;
}

.list-btn {
    position: fixed;
    top: 20px;
    right: 20px;
}

.search-ui {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 20, 0.95);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    overflow: hidden;
}

.search-input {
    display: flex;
    max-width: 400px;
    width: 80%;
    margin-top: 50px;
}

.search-ui input {
    flex-grow: 1;
    background-color: #222444;
    height: 15px;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
}

.mobile.close-search {
    display: none;
}

.search-ui .search-results {
    margin-top: 40px;
    max-width: 500px;
    width: 80%;
    border-radius: 5px;
    border: 1px #333 solid;
    padding: 10px;
    font-size: 20px;
    overflow-y: scroll;
    gap: 13px;
}

/* TODO: improve on this later*/
.close-search {
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 60px;
    padding: 0 20px;
    background: none;
}

.mobile.close-search {
    display: none;
}

.search-results:empty {
    display: none;
}

.search-results>li {
    height: 100px;
    overflow: hidden;
    flex-shrink: 0;
    line-height: 1.8;
    max-height: calc(1.6em * 3);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    border-bottom: 1px #333 solid;
    text-align: center;
    padding-bottom: 13px;
    cursor: pointer;
    transition: 0.2s;
}

.search-results>li:hover {
    border-radius: 5px;
    background-color: #44444490;
    border-bottom: 1px transparent solid;
}

.search-results>li:last-child {
    border-bottom: 0;
}

#search-btn {
    width: calc(var(--list-width) - 20px);
    height: 30px;
    border-radius: 5px;
    background-color: #00649d;
    margin-bottom: 20px;
    padding: 8px 10px 5px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    font-size: 24px;
}

#search-btn svg {
    width: 20px;
    height: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px;
}

.list-items {
    margin-top: 20px;
    max-height: 500px;
    height: max-content;
    overflow-y: auto;
    background: #00649d;
    border-radius: 7px;
    padding-inline: 5px;
}

.list.active {
    right: 0;
}

.list-item {
    cursor: pointer;
    border-radius: 3px;
}

.list-item:hover {
    color: darkblue;
}

#pwa-install {
    height: 80px;
    padding: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #555555;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 40px;
}

#pwa-install button {
    font-size: 20px;
    padding: 8px;
}

#accept-pwa {
    background-color: #00338c;
}

#pwa-install>* {
    margin: 0;
}

.hidden {
    display: none !important;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.tashkil {
    align-self: self-end;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 13px;
    color: white;
    border: none;
    border-radius: 6px;
    background-color: #00548f90;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

select.book-options {
    background-color: #00649d;
    color: white;
    width: 220px;
    padding: 2px;
    border-radius: 6px;
    border: 1px;
}

select.book-options:focus {
    border: none;
    outline: none;
}

/* Media Quiries */

@media screen and (max-width: 600px) {

    .search-ui>.close-search {
        display: none;
    }

    .search-input {
        justify-content: center;
        align-items: center;
        background-color: #222444;
        max-width: unset;
        width: 85%;
    }

    .search-input input {
        min-width: 150px;
    }

    .mobile.close-search {
        display: block;
        position: unset;
        max-width: min-content;
        font-size: 45px;
        padding-inline: 16px;
    }
}

/* This is for the ugly scrollbar in chrome-based browsers */

::-webkit-scrollbar {
    width: 10px;
    /* Adjust the width to create space for padding */
    height: 10px;
    /* Adjust the height to create space for padding */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Ensure the track is transparent */
    border-radius: 10px;
    /* Match the border-radius of the thumb */
}

::-webkit-scrollbar-thumb {
    background: #66666690;
    /* You can adjust this color for the thumb */
    border-radius: 9999px;
    /* Match the border-radius of the thumb */
    background-clip: content-box;
    /* Ensure the thumb doesn't overlap the track */
    border: 2px solid transparent;
    /* Ensure the thumb doesn't overlap the track */
    box-shadow: 0 0 0 2px transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: #666666;
}
